[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/lboroWMEME-TeamProject/Dashboard
[submodule "Cloud-Server"]
	path = Cloud-Server
	url = https://github.com/lboroWMEME-TeamProject/Cloud-Server
[submodule "Simulated-Drone"]
	path = Simulated-Drone
	url = https://github.com/lboroWMEME-TeamProject/Simulated-Drone
[submodule "Drone-Firmware"]
	path = Drone-Firmware
	url = https://github.com/lboroWMEME-TeamProject/Drone-Firmware
